[Unit]
Description=ePaperCalendar
After=network.target

[Service]
ExecStart=/ePaper-Google-Calendar/ePaperCalendar/updateThenShutdown.sh
User=root

[Install]
WantedBy=multi-user.target
